<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=DESKTOP-G8FN8CR\SQLEXPRESS;Initial Catalog=SW_PerformanceManagement;User id=sa;Password =123"
      providerName="System.Data.SqlClient" />
    <add name="C_SWInternPerformance.Properties.Settings.SW_PerformanceManagementConnectionString"
      connectionString="Data Source=DESKTOP-G8FN8CR\SQLEXPRESS;Initial Catalog=SW_PerformanceManagement;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
